<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <% if (!locals.user) { %>
      <li><a href="/login">Login</a></li>
      <li><a href="/sign-up">Sign up</a></li>
      <% } else { %>
      <li><a href="/files">Files</a></li>
      <li><a href="/logout">Logout</a></li>
      <% } %>
    </ul>
  </nav>
</header>
