<nav>
  <ul class="navbar">
    <li class="nav-item">
      <a class="nav-link" href="/"> <%- include('../icons/home') %> Home </a>
    </li>
    <% if (!locals.user) { %>
    <li class="nav-item">
      <a class="nav-link" href="/login">
        <%- include('../icons/login') %> Login
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/sign-up">
        <%- include('../icons/register') %> Sign up
      </a>
    </li>
    <% } else { %>
    <li class="nav-item">
      <a class="nav-link" href="/logout">
        <%- include('../icons/logout') %> Logout
      </a>
    </li>
    <% } %>
  </ul>
</nav>
