<aside id="sidebar">
  <%- include('navbar') %>

  <button
    type="button"
    class="close-btn"
    id="closeSidebarBtn"
    aria-label="Close sidebar"
  >
    <%- include('../icons/close') %>
  </button>
</aside>
