<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/commonHeadTags') %>
    <title>Login</title>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <main>
      <form action="/login" method="post">
        <h1>Log in</h1>
        <%- include('partials/errorList') %>
        <div class="form-field">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            name="username"
            placeholder="Enter your username"
            required
          />
        </div>
        <div class="form-field">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Enter your password"
            required
          />
        </div>
        <button>Login</button>
      </form>
    </main>
  </body>
</html>
