<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/commonHeadTags') %>
    <title>Login</title>
    <link rel="stylesheet" href="/styles/login.css" />
    <script type="module" src="/scripts/login.js"></script>
  </head>
  <body>
    <%- include('partials/navigation') %>

    <main>
      <h1 class="hero-title">Welcome back</h1>
      <%- include('partials/errorList') %>

      <form
        id="login-form"
        class="form"
        action="/login"
        method="post"
        novalidate
      >
        <div class="form-group">
          <div class="form-field">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              name="username"
              placeholder="Enter your username"
              required
            />
            <span class="feedback"></span>
          </div>
          <div class="form-field">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Enter your password"
              required
            />
            <span class="feedback"></span>
          </div>
        </div>
        <button class="button">Login</button>
      </form>
    </main>
  </body>
</html>
