<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/commonHeadTags') %>
    <title>Sign Up</title>
    <link rel="stylesheet" href="/styles/form.css" />
    <script type="module" src="/scripts/sign-up.js"></script>
  </head>
  <body>
    <%- include('partials/header') %>

    <main>
      <h1 class="hero-title">Create your account</h1>
      <%- include('partials/errorList') %>
      <form action="sign-up" method="post" id="sign-up-form" novalidate>
        <div class="form-field">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            name="username"
            placeholder="Enter your username"
            required
          />
          <span class="feedback"></span>
        </div>
        <div class="form-group">
          <div class="form-field">
            <label for="password">
              Password <%- include('partials/info', { info: `Password must be at
              least 8 characters long, contain at least one uppercase letter,
              one lowercase letter, one number, and one special character.` })
              %>
            </label>
            <input
              type="password"
              id="password"
              name="password"
              placeholder="********"
              pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^A-Za-z\d]).{8,}"
              required
            />
            <span class="feedback"></span>
          </div>
          <div class="form-field">
            <label for="confirm-password">Confirm Password</label>
            <input
              type="password"
              id="confirm-password"
              name="confirm-password"
              placeholder="********"
              required
            />
            <span class="feedback"></span>
          </div>
        </div>
        <button class="button">Sign Up</button>
      </form>
    </main>
  </body>
</html>
