@import url('reset.css');
@import url('components.css');

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Italic.woff2') format('woff2');
  font-display: swap;
  font-style: italic;
}

:root {
  color-scheme: light;

  --background: #fff;
  --background-light: #eef0f0;

  --foreground: #000;
  --foreground-light: #545556;

  --accent: #007bff;

  --danger: #dc3545;
  --danger-light: #f8d7da;

  --spacing-sm: calc(var(--spacing) / 2);
  --spacing: 8px;
  --spacing-lg: calc(var(--spacing) * 2);
  --spacing-xl: calc(var(--spacing) * 4);

  &.dark {
    color-scheme: dark;

    --background: #151515;
    --background-light: #302f2f;

    --foreground: #fff;
    --foreground-light: #b0b0b0;

    --danger-light: #eea3a9;
  }
}

body {
  font-family: 'Inter', system-ui;
  background-color: var(--background);
  color: var(--foreground);

  display: flex;
  flex-direction: column;
  min-height: 100dvh;

  & > main {
    flex: 1;
  }
}
