@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Italic.woff2') format('woff2');
  font-display: swap;
  font-style: italic;
}

:root {
  color-scheme: light;

  --background: #fff;
  --foreground: #000;
  --foreground-light: #545556;
  --accent: #007bff;

  --spacing-sm: calc(var(--spacing) / 2);
  --spacing: 8px;
  --spacing-lg: calc(var(--spacing) * 2);
  --spacing-xl: calc(var(--spacing) * 4);

  &.dark {
    color-scheme: dark;

    --background: #151515;
    --foreground: #fff;
    --foreground-light: #b0b0b0;
    --accent: #007bff;
  }
}

body {
  font-family: 'Inter', system-ui;
  background-color: var(--background);
  color: var(--foreground);

  display: flex;
  flex-direction: column;
  min-height: 100dvh;

  & > main {
    flex: 1;
  }
}

.hero-title {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

.text {
  color: var(--foreground-light);
  text-align: var(--align, initial);
  max-width: var(--width, 65ch);
}

a.button {
  text-decoration: none;
  color: var(--foreground);
}

.button {
  --foreground: #fff;
  --background-hover: var(--background);
  --foreground-hover: var(--accent);

  display: flex;
  gap: var(--spacing-sm);

  background-color: var(--accent);
  padding: var(--spacing) var(--spacing-lg);
  border: 1px solid var(--accent);
  border-radius: 8px;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: var(--background-hover);
    color: var(--foreground-hover);
  }
}
