main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: var(--spacing-lg);
}

main[data-isLoggedIn='false'] {
  justify-content: center;

  & > .button {
    margin-top: var(--spacing-lg);
  }

  & > .text {
    text-align: center;
  }
}
