@import url('partials/form.css');
@import url('partials/fileList.css');
@import url('./partials/actions.css');
@import url('partials/dialog.css');
@import url('partials/file-button.css');

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-lg);
}

main[data-isLoggedIn='false'] {
  gap: none;
  justify-content: center;

  & > .button {
    margin-top: var(--spacing-lg);
  }

  & > .text {
    text-align: center;
  }
}
