.actions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--spacing-lg);

  & > .button--secondary {
    font-size: 0.85rem;

    & > svg {
      width: 20px;
      height: 20px;
    }
  }
}
