.close-btn {
  --corner-spacing: var(--spacing);

  position: absolute;
  top: var(--corner-spacing);
  right: var(--corner-spacing);

  background: none;
  border: none;
  outline: none;

  transition: transform 0.2s ease-in-out;

  &:hover,
  &:focus-visible {
    transform: rotate(90deg);
  }
}
