@import url('closeBtn.css');

.dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background-light);
  border: 1px solid var(--foreground-light);
  border-radius: 8px;
  padding: var(--spacing-lg) var(--spacing-xl);
}

.dialog-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);

  & > h2 {
    text-align: center;
  }
}
