.file-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);

  & a {
    text-decoration: none;
    display: flex;
    gap: var(--spacing-sm);
    color: var(--foreground);
    transition: transform 0.2s ease-in-out;
    outline: none;

    &:hover,
    &:focus-visible {
      transform: scale(1.05);
    }
  }
}

.folder svg {
  fill: #ffd900;
}

.file svg {
  fill: var(--foreground-light);
}
