@import url('errorList.css');

.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);

  & > .button {
    align-self: center;
  }
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.form-group {
  display: flex;
  gap: var(--spacing);
  flex-wrap: wrap;

  & > .form-field {
    flex: 1;
  }
}

input {
  --shadow: var(--background-light);
  --shadow-spread: 3px;

  background-color: var(--background-light);
  border: 1px solid var(--foreground-light);
  border-radius: 4px;
  padding: 4px 8px;

  outline: none;
  transition: box-shadow 0.2s ease;

  &:focus-visible {
    box-shadow: 0 0 3px var(--shadow-spread) var(--shadow);
    transform: scale(1.01);
  }
}

label {
  display: flex;
  gap: var(--spacing-sm);
}

.feedback {
  display: block;
  font-size: 0.875rem;
  height: 0;
  transition: height 0.2s ease;
}

.input-invalid {
  border-color: var(--danger);
  color: #000;
  background-color: var(--danger-light);

  &:focus-visible {
    --shadow: light-dark(var(--danger), var(--danger-light));
    --shadow-spread: 0px;
  }

  &::placeholder {
    color: var(--danger);
  }

  + .feedback {
    color: var(--danger);
    height: 1rem;
  }
}
